<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3wMhq7rGCHbNT6W2B23jhe4WsM2NFqTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>529566841032</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muker.iOS-UIKit-Analytics</string>
	<key>PROJECT_ID</key>
	<string>wheremybus-test</string>
	<key>STORAGE_BUCKET</key>
	<string>wheremybus-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:529566841032:ios:452949e21246a326ed4dfd</string>
</dict>
</plist>